.button{
    width: 100px;
    height: 24px;
    background: #5528FF;
    border-radius: 5px;
    border-color: #5528FF;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    border: none;
}